<div class="root-main clearfix">
	<div class="nav navbar-custom">
		<div class="nav-div">
			<span class="root-logo"><%= image_tag("logo-hzt-white") %></span>
		</div>
	</div>

	<div class="root-container">
		<div class="introduction">
			The home for your photo collections.
		</div>
		<div class="achievement">
			<a href="" id="signup-btn">Sign up now</a>
			<div id="signin-btn">
				or 
				<a href="">Sign in</a>
			</div>
		</div>
	</div>
</div>

<div class="overlay clearfix hidden">
	<div class="auth-form-container">
		<a href="" id="close-btn">CLOSE</a>
		<div class="auth-form">
			<div class="auth-form-logo"><%= image_tag('logo-icon-white') %></div>
			<form class="auth-form-field clearfix" action="" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="text" placeholder="Username" name="user[username]">
				<input type="password" placeholder="Password" name="user[password]">
				<input type="submit" class="submit-btn">
			</form>
		</div>
	</div>
</div>

<div class="footer"></div>