<div class="header">
	
</div>

<div class="main">
	<a href="" id="signup-btn">Sign up</a>
	<a href="" id="signin-btn">Sign in</a>
</div>

<div class="overlay hidden">
	<span class="close-btn">XXXXXXXXXX</span>
	<div class="auth-form">
		<form action="" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="text" placeholder="Username" name="user[username]">
			<input type="password" placeholder="Password" name="user[password]">
			<input type="submit" class="btn" value="">
		</form>
	</div>
</div>

<div class="footer"></div>