.albums-index-container, .albums-index {
	position: absolute;
	width: 350px;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	border-right: 1px solid #ececec;
	background-color: #F3F5F6;
	vertical-align: baseline;
	z-index: 30;
	font-size: large;
	color: #FAFAFA;

	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
}

.slide-out {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.albums-index {
	height: calc(100vh - 40px);
	overflow-y: scroll;
}

.albums-index-title {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 5px;
	background-color: black;
	color: #A9A9A9;
	font: white;
	font-family: 'Ubuntu' sans-serif;

	.album-index-title-text {
		padding-top: 20px;
    display: block;
    padding-left: 20px;
    font-size: 20px;
  }
}

.album-index-item-container {
	position: relative;
}

.album-index-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	height: 120px;
	border: 0px;
	border-bottom: 1px solid #ececec;
	background: rgba(0,0,0,0.3);
}

.album-index-item:hover {
	background-color: rgba(0,0,0,0.5);
}

.album-index-item-container.selected {
	border-right: 10px solid #FAFAFA;
}

.search-box {
	position: relative;
  margin: 0 auto;
  width: 90%;
	height: 30px;
	padding-top: 1px;
	padding-left: 10px;
  background: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  &:hover {
		border: 1px solid gray;
  }

  &:focus {
  	border: 1px solid gray;
  }

  input {
	  padding: 0 0 0 10px;
	  line-height: normal;
	  border: none;
	  outline: none;
	  font-size: 16px;
	  background: rgba(0,0,0,0);
	  width: calc(100% - 35px);
  }

}

.search-box:focus {
	border: 1px solid gray;
}
