.albums-index-container, .albums-index {
	position: absolute;
	width: 350px;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	border-right: 1px solid #ececec;
	/*float: left;*/
	background-color: #F3F5F6;
	vertical-align: baseline;
	z-index: 10;

	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;

	/*transform: matrix(1, 0, 0, 1, 0, 0);
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	-webkit-transform: translate3d(-459px, 0, 0);
	transform: translate3d(-459px, 0, 0);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;*/
}

.slide-out {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.albums-index {
	overflow-y: scroll;
}

.albums-index-title {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 5px;
	background-color: black;
	/*background-color: #F3F5F6;*/
	/*margin-left: 20px;*/
	color: #A9A9A9;
	font: white;
	font-family: 'Ubuntu' sans-serif;

	.album-index-title-text {
		padding-top: 20px;
    display: block;
    padding-left: 20px;
    font-size: 20px;
  }
}

.album-index-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 3px;
	/*transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;*/
	width: 100%;
	height: 120px;
	border: 0px;
	/*background-color: #F3F5F6;*/
	border-bottom: 1px solid #ececec;
}

.album-index-item:hover {
	background-color: rgba(0,0,0,0.5);
}

.selected {
	border: 3px solid #cccccc;
}

.search-box {
	position: relative;
  margin: 0 auto;
  width: 90%;
	height: 30px;
	padding-left: 10px;
  background: rgba(0,0,0,0);
  /*border-color: #BBBBBC;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-radius: 5px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  input {
	  padding: 0 0 0 10px;
	  /*width: 100%;*/
	  border: none;
	  outline: none;
	  font-size: 16px;
	  background: rgba(0,0,0,0);
	  width: calc(100% - 35px);
  }
}

.search-box:hover :focus {
	border: 1px solid gray;
}