.drop-window-content {
	z-index: 999;
	position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: 0 auto;
  border: 1px dashed #fff;
  border-radius: 5px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  font-size: 15px;
  color: #FAFAFA;
  /* vertical-align: middle; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  padding: 40px;
}

.drop-window-content:hover {
  transform: scale(1.1, 1.1);
}

.album-show-title .drop-window-content {
  font-size: 25px;
  top: 20px;
  bottom: 20px;
}

.alert-danger {
  top: 0;
  padding: 8px !important;
}

.alert {
  margin-top: 5px;
  position: fixed;
  left: 50%;
  padding: 0 !important;
  transform: translateX(-50%);
}

.feedback-msg {
  width: 600px;
  background-color: #128fdc;
  z-index: 50;
  position: fixed;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  border: 0px solid #FAFAFA;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #FAFAFA;
  transition-delay: 0s, 0.4s;
  transition-duration: 0.4s, 1e-09s;
  transition-property: all, visibility;
  transition-timing-function: ease-in-out, linear;
}

.conf-modal {
  position: fixed;
  width: calc(100% + 73px);
  height: 100vh;
  z-index: 50;
  background-color: #F3F5F6;
  transform: translateX(-73px);
}

.conf-form-container {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  min-height: 300px;
  line-height: 15.6px;
  min-width: 400px;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rebeccapurple;
}

.conf-icon {
  position: relative;
  margin: 0;
  width: 40px;
  left: 50%;
  margin-bottom: 25px;
  transform: translateX(-50%);

  span {
    font-size: 30px;
  }
}