.drop-window-content {
	z-index: 999;
	position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: 0 auto;
  border: 1px dashed #fff;
  border-radius: 5px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  font-size: 15px;
  color: #FAFAFA;
  /* vertical-align: middle; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  padding: 40px;
}

.album-show-title .drop-window-content {
  font-size: 25px;
  top: 20px;
  bottom: 20px;
}