.drop-window-content {
	z-index: 999;
	position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: 0 auto;
  border: 1px dashed #fff;
  border-radius: 5px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  font-size: 15px;
  color: #FAFAFA;
  /* vertical-align: middle; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  padding: 40px;
}

.drop-window-content:hover {
  transform: scale(1.1, 1.1);
}

.album-show-title .drop-window-content {
  font-size: 25px;
  top: 20px;
  bottom: 20px;
}

.alert-danger {
  top: 0;
  padding: 8px !important;
}

.alert {
  margin-top: 5px;
  position: fixed;
  left: 50%;
  padding: 0 !important;
  transform: translateX(-50%);
}

.feedback-msg {
  width: 600px;
  background-color: #272727;
  z-index: 50;
  position: fixed;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #FAFAFA;
  transition-delay: 0s, 0.4s;
  transition-duration: 0.4s, 1e-09s;
  transition-property: opacity, visibility;
  transition-timing-function: ease-in-out, linear;
  visability: hidden;
}