.glyphicon {
	font-size: 22px;
	margin: auto;
	text-align: center;
}

.glyphicon:hover {
	color: #128fdc;
	cursor: pointer;
}

.glyphicon-edit {

}

.glyphicon-plus {
	font-size: 26px;
	color: #BBBBBC;
}

.glyphicon-book {
	font-size: 26px;
	color: #BBBBBC;
}

.glyphicon-th {
	font-size: 26px;
	color: #BBBBBC;
}

.glyphicon-user {
	font-size: 26px;
	color: #BBBBBC;
}