.img-thumb {
	position: relative;
	display: inline-block;
	margin: 5px;
  cursor: pointer;
  overflow: hidden;
  height: 180px;
  width: 180px;

	img {
		height: 220px;
	  width: 220px;

	  -webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	}

	.thumb-delete {
		position: absolute;
    font-size: 15px;
    margin-bottom: 0;
    height: 20px;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    color: #c9c9c9;
	}

	.thumb-tools {
		display: none;
		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.61) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.61)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.61) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.61) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.61) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.61) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
		width: 100%;
		height: 60px;
		bottom: 0;
		margin-bottom: 0;
		position: absolute;
	}
}

.img-thumb:hover {
	outline: 1.5px;
	outline-style: solid;
	outline-color: rgba(187,187,188,0.5);
	img {
		width: 180px;
	  height: 180px;
	}
}

.img-thumb:hover .thumb-tools, .thumb-delete {
	display: block;
}

.thumb-delete:hover {
	color: white;
}

.pictures-collection, .pictures-wall {
  position: relative;
  float: left;
  margin: 10px;
  overflow-y: scroll;
  height: calc(100%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .pic-wall-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.pictures-wall {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pic-wall-thumb {
  @include aspect-ratio(1, 1);
  background: no-repeat center center;
  align-self: flex-start;
  min-width: 163.5px;
  min-height: 163.5px;
  max-width: 400px;
  max-width: 400px;
  flex-basis: 180px;
  flex-grow: 1 auto;
  flex-shrink: 1 auto;
}

@media all and (min-width: 327px) {
  .pic-wall-thumb { flex: 1 auto; }
}

#photos {
	overflow-y: scroll;
	height: 100%;
  line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.pictures-wall-wrapper {
	position: relative;
	float: left;
	height: 100vh;
	width: calc(100% - 73px);
	line-height: 0;
}

.img-frame-overlay {
	position: fixed;
  width: 100%;
  height: 100vh;
	z-index: 30;
  background: rgba(0,0,0,0.5);
	/*transfrom: translateX(-100px);*/
}

.img-frame {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  overflow: hidden;
  position: relative;
}

.slideshow-arrow {
  position: fixed;
}