.img-thumb {
	display: inline-block;
	margin: 5px;
  cursor: pointer;
  overflow: hidden;
  height: 180px;
  width: 180px;

	img {
		height: 220px;
	  width: 220px;

	  -webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	}

	.thumb-delete {
		position: absolute;
		display: block;
	}
}

.img-thumb:hover {
	outline: 1.5px;
	outline-style: solid;
	outline-color: rgba(187,187,188,0.5);
	img {
		width: 180px;
	  height: 180px;
	}
}

.pictures-collection {
  position: relative;
  float: left;
  margin: 10px;
  overflow-y: scroll;
  height: calc(100% - 120px);
}

.pictures-wall {
	position: relative;
	float: left;
	height: 100vh;
	width: calc(100% - 73px);
}

.img-frame-overlay {
	position: absolute;
	z-index: 5;
	transfrom: translateX(-100px);

	.img-frame {
		cursor: pointer;
	}
}