// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	height: 95px;
	width: 100%;
	background-color: gray;
}

.overlay {
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.85098);
	box-sizing: border-box;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 620px;
	line-height: 15.6px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	/*max-width: 940px;*/
	height: 620px;
	left: 0px;
	line-height: 15.6px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 30;
}

.auth-form {
	box-sizing: border-box;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 600px;
	line-height: 15.6px;
	margin-bottom: 0px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 0px;
	max-width: 940px;
	position: relative;
}

.hidden {
	display: none;
}

.close-btn {
	font: white;
}

.navbar-custom {
	background-color: rgba(0,0,0,0);
	height: 95px;
}

.nav-div {
	background-color: rgba(0,0,0,0);
	/*background-color: #161617;*/
	margin: auto;
	max-width: 940px;
	padding-top: 20px;
	padding-bottom: 20px;

	.root-logo {
		position: relative;
		img {
			height: 42;
		}
	}
}

.root-main {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	max-width: 1920px;
	height: 600px;
	background: url(root-main.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.root-container {
	position: relative;
	max-width: 940px;
	margin: auto;
}

.achievement {
	position: absolute;
	width: 300px;
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	right: 0;
	top: 300px;
}