<!DOCTYPE html>
<html>
<head>
  <title>Pictr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      CLOUD_NAME: "edmundleex",
      UPLOAD_PRESET: "k24aopiw"
    };
  </script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxLGQvFXUOqDQ8yZCY26y_HVAn2hT7cyY">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
